<ion-header>
  <ion-toolbar>
  <ion-title><b>ADICIONALES</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content fullscreen padding scroll-y="false">
      <ion-slides>

        <ion-slide>
            <ion-label>Despedida de soltera</ion-label><br><br>
          <img src="assets/3.PNG"/><br><br>
          <ion-radio slot="start" color="success" value="Despedida de soltera"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Despedida de soltero</ion-label><br><br>
            <img src="assets/1.PNG"/><br><br>
            <ion-radio slot="start" color="success" value="Despedida de soltero"></ion-radio>
          </ion-slide>

        <ion-slide>
            <ion-label>Cumpleaños</ion-label><br><br>
          <img src="assets/6.PNG"/><br><br>
          <ion-radio slot="start" color="success" value="Cumpleaños"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Dia de la mujer</ion-label><br><br>
          <img src="assets/4.PNG"/><br><br>
          <ion-radio slot="start" color="success" value="Dia de la mujer"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Dia del hombre</ion-label><br><br>
            <img src="assets/2.PNG"/><br><br>
            <ion-radio slot="start" color="success" value="Dia del hombre"></ion-radio>
          </ion-slide>

        <ion-slide>
            <ion-label>Amor y amistad</ion-label><br><br>
          <img src="assets/7.PNG"/><br><br>
          <ion-radio slot="start" color="success" value="Amor y amistad"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Halloween</ion-label><br><br>
            <img src="assets/8.PNG"/><br><br>
            <ion-radio slot="start" color="success" value="Halloween"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Año nuevo</ion-label><br><br>
            <img src="assets/5.PNG"/><br><br>
            <ion-radio slot="start" color="success" value="Año nuevo"></ion-radio>
        </ion-slide>
        
      </ion-slides>

      <ion-button routerLink="/reservas" color=#ff912f><b>Escoger</b></ion-button>
    </ion-content>
