ion-header {
    --ion-background-color: #cb950f !important;
    text-align: center;
    --color:#ffffff;
    }
    
    ion-title {
        padding-top: 40px;
        padding-left: 5px;
        padding-right: 75px;
    text-align: center;
    --color:#ffffff;
    }
           
    ion-content {
    --ion-background-color: #efb810 !important;
    --color:#ffffff;
    }
    
  
    
    ion-slide {
    align-content:center;
    text-align: center;
    margin-left: 10px;
    --color:#ffffff;
    }
    
    ion-label{
    text-align: left;
    --color:#ffffff;
    }
    
    ion-select{
    text-align: right;
    --color:#ffffff;
    }

    ion-button{
        background: #ff912f;
        text-align: center;
        color: #ffffff;
    }

    ion-img{
        width: 90%;
        height: 90%;
        align-content: center;

    }
.reserva{
    width: 15%;
    height: 15%;
   padding-left: 2px;
   padding-top: 20px;
}
.historial{
    width: 15%;
    height: 15%;   
   padding-left: 2px;
   padding-top: 20px;
}
    