<ion-header>
  <ion-toolbar>
      <A HREF="reservas">
          <img class="reserva" align="left" src="assets/reserva.PNG" />
        </A>
    
    <A HREF="cancelar">
        <img class="historial" align="right" src="assets/historial.PNG" />
      </A>
      <ion-title align="center">NOVEDADES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
    <ion-slides>
  
      <ion-slide>
          <ion-img class="ion-padding" src="assets/NOVEDAD1.PNG"></ion-img>
      </ion-slide>
  
      <ion-slide>
          <ion-img class="ion-padding" src="assets/NOVEDAD2.PNG"></ion-img>
      </ion-slide>
  
      <ion-slide>
          <ion-img class="ion-padding" src="assets/NOVEDAD3.PNG"></ion-img>
      </ion-slide>
  
      <ion-slide>
          <ion-img class="ion-padding" src="assets/NOVEDAD4.PNG"></ion-img>
      </ion-slide>

    </ion-slides>
  </ion-content>