<ion-header>
  <ion-toolbar>
      <A HREF="reservas">
          <ion-img align="left" src="assets/historial.PNG" BORDER="0"></ion-img>
        </A>      
  <ion-title><b>DECORACION</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content fullscreen padding scroll-y="false">
      <ion-slides>

        <ion-slide>          
            <ion-label>Despedida de soltera(o)</ion-label><br><br>
          <img src="assets/despedida de soltera.PNG"/><br><br>
          <ion-label>50.000</ion-label><br><br>
          <ion-radio slot="start" color="success" value="apple"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Cumpleaños</ion-label><br><br>
          <img src="assets/cumpleaños.PNG"/><br><br>
          <ion-label>40.000</ion-label><br><br>
          <ion-radio slot="start" color="success" value="apple"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Dia de la mujer</ion-label><br><br>
          <img src="assets/dia mujer.PNG"/><br><br>
          <ion-label>32.000</ion-label><br><br>
          <ion-radio slot="start" color="success" value="apple"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Dia del hombre</ion-label><br><br>
            <img src="assets/dia hombre.PNG"/><br><br>
            <ion-label>33.000</ion-label><br><br>
            <ion-radio slot="start" color="success" value="apple"></ion-radio>
          </ion-slide>

        <ion-slide>
            <ion-label>Amor y amistad</ion-label><br><br>
          <img src="assets/amor y amistad.PNG"/><br><br>
          <ion-label>26.000</ion-label><br><br>
          <ion-radio slot="start" color="success" value="apple"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Halloween</ion-label><br><br>
            <img src="assets/halloween.PNG"/><br><br>
            <ion-label>41.000</ion-label><br><br>
            <ion-radio slot="start" color="success" value="apple"></ion-radio>
        </ion-slide>

        <ion-slide>
            <ion-label>Año nuevo</ion-label><br><br>
            <img src="assets/año nuevo.PNG"/><br><br>
            <ion-label>32.000</ion-label><br><br>
            <ion-radio slot="start" color="success" value="apple"></ion-radio>
        </ion-slide>
        
      </ion-slides>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <ion-button routerLink="/reservas" color=#ff912f><b>Escoger</b></ion-button>
        </ion-toolbar>
      </ion-footer>
  

