<ion-header>
  <ion-toolbar>
  <ion-title><b>REGISTRO USUARIOS</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-input required placeholder="Nombres"></ion-input>
    <ion-input required placeholder="Apellidos"></ion-input>
    <ion-input required placeholder="Cedula"></ion-input>
    <ion-item>
            <ion-label>Fecha nacimiento</ion-label>
            <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
          </ion-item>
      <ion-input required placeholder="Direccion"></ion-input>				
      <ion-input required placeholder="Email"></ion-input>
      <ion-input required placeholder="Nombre usuario"></ion-input>
      <ion-input required placeholder="contraseña"></ion-input>
        
      <ion-button color=#ff912f><b>Registrate</b></ion-button>
      
  </ion-content>
