<ion-header>
    <ion-toolbar>
    <ion-title><b>PAGO</b></ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>
            <form (ngSubmit)="enviarData(formulario)" #formulario="ngForm">

        <img src="assets/debito.PNG"/>
        <div>
            <ion-label>DECORADO:$</ion-label><br>
            <ion-label>ADICIONALES:$</ion-label> <br>
            <ion-label>TOTAL A PAGAR:${{total}}</ion-label>        
        </div>                 
        
      <ion-input required type="text" [(ngModel)]="model.nombre" name="nombre" placeholder="Nombre propietario"></ion-input>
      <ion-input required type="text" [(ngModel)]="model.tarjeta" name="tarjeta" placeholder="Numero de tarjeta"></ion-input>
      <ion-input required type="text" [(ngModel)]="model.codigo" name="codigo" placeholder="Codigo de seguridad"></ion-input>
      <ion-item>
              <ion-label>Fecha vencimiento</ion-label>
              <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
        
          
        <ion-button type="submit" (click)="presentAlert()" [disabled]="!isenabled" color=#ff912f><b>Pago</b></ion-button>
    </form>
    </ion-content>
