<ion-header>
  <ion-toolbar>
      <A HREF="novedades">
      <ion-img align="left" src="assets/historial.PNG" BORDER="0"></ion-img>
    </A>
    <ion-title><b>CANCELAR RESERVA</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <br><br>
  <ion-label>Bar</ion-label><br><br> 
  <ion-label>N° Personas</ion-label><br><br>
  <ion-label>Motivo</ion-label><br><br>
  <ion-label>Dedicatoria</ion-label><br><br>
  <ion-label>Adicionales</ion-label><br><br>
  <ion-label>Decorado</ion-label><br><br>
  <ion-label>Mesa</ion-label><br><br>
  <ion-label>Nombre</ion-label><br><br>
  <br><br><br>
  
  
</ion-content >
<ion-footer>
    <ion-toolbar>
        <ion-button type="submit" (click)="presentAlert()" color=#ff912f><b>CANCELAR</b></ion-button>
    </ion-toolbar>
  </ion-footer>