ion-header {
    --ion-background-color: #cb950f !important;
    text-align: center;
    align-content: center;
    --color:#ffffff;
    }
    
    ion-title {
    text-align: center;
    --color:#ffffff;
    }
    
    ion-img {
    width: 15%;
    height: 15%;
    }

    ion-footer{
        --ion-background-color: #cb950f !important;
        text-align: center;
        align-content: center;
        --color:#ffffff;
    }
    
    ion-content {
    --ion-background-color: #efb810 !important;
    text-align: center;
    align-content: center;
    --color:#ffffff;
    }
    
  
    
    ion-slide {
    align-content:center;
    text-align: center;
    margin-left: 10px;
    margin-left: 10px;
    margin-left: 10px;
    --color:#ffffff;
    }
    
    ion-label{
    text-align: left;
    --color:#ffffff;
    }
    
    ion-select{
    text-align: right;
    --color:#ffffff;
    }

    ion-button{
        background: #ff912f;
        text-align: center;
        align-content: center;
        color: #ffffff;
    }

    ion-item {
        align-content:center;
        text-align: center;
        margin-left: 10px;
        margin-left: 10px;
        margin-left: 10px;
        --color:#ffffff;
        }
