<ion-header>
  <ion-toolbar>
    <ion-title><b>CANCELAR RESERVA</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label>Bar</ion-label>
  <ion-label>N° Personas</ion-label>
  <ion-label>Motivo</ion-label>
  <ion-label>Dedicatoria</ion-label>
  <ion-label>Adicionales</ion-label>
  <ion-label>Decorado</ion-label>
  <ion-label>Mesa</ion-label>
  <ion-label>Nombre</ion-label>

  <ion-button type="submit" (click)="presentAlert()" color=#ff912f><b>Reservar</b></ion-button>
  </form>
</ion-content>