<ion-header>
    <ion-toolbar>
    <ion-title><b>PAGO</b></ion-title>
    </ion-toolbar>
    </ion-header>
    <ion-content>
        <img src="assets/credito.PNG"/>
        <div>
            <ion-label>DECORADO:$</ion-label><br>
            <ion-label>ADICIONALES:$</ion-label> <br>
            <ion-label>TOTAL A PAGAR:$</ion-label>        
        </div>                 
        
      <ion-input required placeholder="Nombre propietario"></ion-input>
      <ion-input required placeholder="Numero de tarjeta"></ion-input>
      <ion-input required placeholder="Codigo de seguridad"></ion-input>
      <ion-item>
              <ion-label>Fecha vencimiento</ion-label>
              <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
        
          
        <ion-button color=#ff912f><b>Pago</b></ion-button>
        
    </ion-content>
