ion-header {
  --ion-background-color: #cb950f !important;
  text-align: center;
  align-content: center;
  --color:#ffffff;
  }
    
    ion-title {
  text-align: center;
  --color:#ffffff;
    }  
            
    ion-content {
    --ion-background-color: #efb810 !important;
    text-align: center;
    align-content: center;
    --color:#ffffff;
    }     
    
    ion-slide {
    align-content:center;
    text-align: center;
    margin-left: 10px;
    --color:#ffffff;
    }
    
    ion-label{
      text-align: left;
      --color:#ffffff;
      }
    
      ion-select{
        text-align: center;
        align-content: center;
        --color:#ffffff;
        --padding-end:15px;
        --padding-start:15px;
        max-width: 100% !important;    
        }

    ion-button{
        background: #ff912f;
        text-align: center;
        align-content: center;
        color: #ffffff;
    }

    img{
        width: 90%;
        height: 90%;
        align-content: center;
        text-align: center;

    }

.texto{
  --ion-background-color: #cb950f !important;
  text-align: center;
  align-content: center;
  --color:#ffffff;
  font-size: 14px;
}

  
  ion-footer{
    --ion-background-color: #cb950f !important;
    text-align: center;
    align-content: center;
    --color:#ffffff;
}

      ion-slide{
        display: block;
        align-content: center;
        text-align: center;
      }

      ion-slides{
        display: block;
        align-content: center;
        text-align: center;
      }

      ion-item {
        align-content:center;
        text-align: center;
        margin-left: 10px;
        --color:#ffffff;
        --padding-end:15px;
    --padding-start:15px;
        }

        .historial{
          width: 12%;
          height: 12%;   
         padding-left: 6px;
         padding-top: 6px;
      }