<ion-header>
  <ion-toolbar>
      <A HREF="reservas">
          <ion-img align="left" src="assets/historial.PNG" BORDER="0"></ion-img>
        </A>
    <ion-title><b>BARES</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
        <ion-radio slot="start" color="success" value="Despedida de soltera"></ion-radio>
      <ion-label align="right"> OPERA</ion-label>
      <br><br>
      <ion-slides>
        <ion-slide>
          <img src="assets/opera.PNG" />
          
        </ion-slide>
        <ion-slide>
          <img src="assets/PLANOS DE BAR OPERA.png" />
        </ion-slide>
      </ion-slides><br>
      <ion-item>
          <ion-select required interface="popover" placeholder="mesas">
            <ion-select-option value="Mesa 1">Mesa 1</ion-select-option>
            <ion-select-option value="Mesa 2">Mesa 2</ion-select-option>
            <ion-select-option value="Mesa 3">Mesa 3</ion-select-option>
            <ion-select-option value="Mesa 4">Mesa 4</ion-select-option>
            <ion-select-option value="Mesa 5">Mesa 5</ion-select-option>
            <ion-select-option value="Mesa 6">Mesa 6</ion-select-option>
            <ion-select-option value="Mesa 7">Mesa 7</ion-select-option>
            <ion-select-option value="Mesa 8">Mesa 8</ion-select-option>
            <ion-select-option value="Mesa 9">Mesa 9</ion-select-option>
            <ion-select-option value="Mesa 10">Mesa 10</ion-select-option>
            <ion-select-option value="Mesa 11">Mesa 11</ion-select-option>            
          </ion-select>
        </ion-item>
      <div class="texto">
      <ion-label>Cra. 14a # 83-23, Bogotá</ion-label><br>
      <ion-label> viernes y sábado:	19:00–3:00 </ion-label><br>
      <ion-label>Ópera Deluxe es la nueva cara de la barra libre más famosa de la zona rosa.</ion-label>
    </div>
    </ion-slide>

    <ion-slide>
        <ion-radio slot="start" color="success" value="Despedida de soltero"></ion-radio>
      <ion-label>GENOVEVA</ion-label>
      <br><br>
      <ion-slides>
        <ion-slide>
          <img src="assets/genoveva.PNG" />
        </ion-slide>
        <ion-slide>
          <img src="assets/PLANO BAR GENOVEVA.png" />
        </ion-slide>
      </ion-slides><br>
      <ion-item>
          <ion-select required interface="popover" placeholder="mesas">
              <ion-select-option value="Mesa 1">Mesa 1</ion-select-option>
              <ion-select-option value="Mesa 2">Mesa 2</ion-select-option>
              <ion-select-option value="Mesa 3">Mesa 3</ion-select-option>
              <ion-select-option value="Mesa 4">Mesa 4</ion-select-option>
              <ion-select-option value="Mesa 5">Mesa 5</ion-select-option>
              <ion-select-option value="Mesa 6">Mesa 6</ion-select-option>
              <ion-select-option value="Mesa 7">Mesa 7</ion-select-option>
              <ion-select-option value="Mesa 8">Mesa 8</ion-select-option>
              <ion-select-option value="Mesa 9">Mesa 9</ion-select-option>
              <ion-select-option value="Mesa 10">Mesa 10</ion-select-option>
              <ion-select-option value="Mesa 11">Mesa 11</ion-select-option>            
          </ion-select>
        </ion-item>
      <div class="texto">
      <ion-label>Cll 84 # 14 - 44</ion-label><br>
      <ion-label>jueves, viernes, sábado y domingo:	18:00–3:00</ion-label><br>
      <ion-label>Es una de las mejores opciones de rumba crossover en Bogota.</ion-label><br>
    </div>
    </ion-slide>

    <ion-slide>
        <ion-radio slot="start" color="success" value="Cumpleaños"></ion-radio>
      <ion-label>CENTRICO</ion-label>
      <br><br>
      <ion-slides>
        <ion-slide>
          <img src="assets/centrico.PNG" />
        </ion-slide>
        <ion-slide>
          <img src="assets/PLANOS DE BAR CENTRICO.png" />
        </ion-slide>
      </ion-slides>
      <ion-item>
          
          <ion-select required interface="popover" placeholder="mesas">
              <ion-select-option value="Mesa 1">Mesa 1</ion-select-option>
              <ion-select-option value="Mesa 2">Mesa 2</ion-select-option>
              <ion-select-option value="Mesa 3">Mesa 3</ion-select-option>
              <ion-select-option value="Mesa 4">Mesa 4</ion-select-option>
              <ion-select-option value="Mesa 5">Mesa 5</ion-select-option>
              <ion-select-option value="Mesa 6">Mesa 6</ion-select-option>
              <ion-select-option value="Mesa 7">Mesa 7</ion-select-option>
              <ion-select-option value="Mesa 8">Mesa 8</ion-select-option>
              <ion-select-option value="Mesa 9">Mesa 9</ion-select-option>
              <ion-select-option value="Mesa 10">Mesa 10</ion-select-option>
              <ion-select-option value="Mesa 11">Mesa 11</ion-select-option>            
          </ion-select>
        </ion-item>
      <div class="texto">
      <ion-label>CRA. 7 # 32 -16</ion-label><br>
      <ion-label>LUN A MIÉ: 12PM A 3PM Y 7PM A 12AM. JUE A SÁB: 12PM A 3PM Y 7PM. A 2:30AM.</ion-label><br>
      <ion-label>Tenga una experiencia unica con bogota a sus pies.</ion-label>
    </div>
    </ion-slide>
  </ion-slides><br><br><br>
  <ion-button routerLink="/reservas" color=#ff912f><b>Escoger</b></ion-button>
</ion-content>
