<ion-header>
  <ion-toolbar>
  <ion-title><b>BARES</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content >
      <ion-list>
        <ion-radio-group>
          <ion-item>
              <ion-slides>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                </ion-slides>
                <br><br><br>
            <ion-label>Opera</ion-label>
            <ion-label>Direccion</ion-label>
            <ion-label>Horarios</ion-label>
            <ion-label>Descripcion</ion-label>
            <ion-radio slot="start" color="success" value="apple"></ion-radio>
          </ion-item>

          <ion-item>
              <ion-slides>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                </ion-slides>
            <ion-label>Genoveva</ion-label>
            <ion-label>Direccion</ion-label>
            <ion-label>Horarios</ion-label>
            <ion-label>Descripcion</ion-label>
            <ion-radio slot="start" color="tertiary" value="grape" checked></ion-radio>
          </ion-item>

          <ion-item>
              <ion-slides>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                  <ion-slide><img src="assets/LOGO BIRRAS.png" /></ion-slide>
                </ion-slides>
            <ion-label>Centrico</ion-label>
            <ion-label>Direccion</ion-label>
            <ion-label>Horarios</ion-label>
            <ion-label>Descripcion</ion-label>
            <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
          </ion-item>
        </ion-radio-group>  
      </ion-list>
    </ion-content>
