<ion-header>
  <ion-toolbar>
  <ion-title><b>REGISTRO BARES</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
          <ion-input required placeholder="Nombre establecimiento"></ion-input>
          <ion-input required placeholder="Direccion"></ion-input>
          <ion-input required placeholder="Nit"></ion-input>
          <ion-input required placeholder="Horarios"></ion-input>
          <ion-input required placeholder="Descipcion"></ion-input>
          <ion-input required placeholder="Cantidad mesas"></ion-input>
          <ion-input required placeholder="Fotos"></ion-input>
          <ion-input required placeholder="Email"></ion-input>
          <ion-input required placeholder="Nombre usuario"></ion-input>
          <ion-input required placeholder="contraseña"></ion-input>
        
      <ion-button color=#ff912f><b>Registrate</b></ion-button>
         
  </ion-content>
