<ion-header>
  <ion-toolbar>
  <ion-title><b>RESERVAS</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
      <form (ngSubmit)="enviarData(formulario)" #formulario="ngForm">
      <ion-label routerLink="/bares">Bar</ion-label>     
    <ion-input  [(ngModel)]="model.personas" name="personas" placeholder="N° Personas" required type="text"></ion-input>
    <ion-item>
        <ion-select [(ngModel)]="model.motivo" name="motivo" interface="popover" required placeholder="motivo">
          <ion-select-option value="soltera">Despedida de soltera</ion-select-option>
          <ion-select-option value="soltero">Despedida de soltero</ion-select-option>
          <ion-select-option value="hombre">Dia del hombre</ion-select-option>
          <ion-select-option value="mujer">Dia de la mujer</ion-select-option>
          <ion-select-option value="año">Año nuevo</ion-select-option>
          <ion-select-option value="cumpleaños">Cumpleaños</ion-select-option>
          <ion-select-option value="amistad">Amor y amistad</ion-select-option>
          <ion-select-option value="halloween">Halloween</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-input placeholder="Dedicatoria"></ion-input>
    <ion-label routerLink="/adicionales">Adicionales</ion-label><br><br>
    <ion-label routerLink="/decorado">Decorado</ion-label>		<br>
    <ion-input required placeholder="Mesa"></ion-input>
    <ion-input [(ngModel)]="model.nombre" name="nombre" placeholder="Nombre del festejado" required type="text" ></ion-input>
        
      <ion-button type="submit"  color=#ff912f><b>Reservar</b></ion-button>
    </form>
  </ion-content>
  
