<ion-header>
  <ion-toolbar>
  <ion-title><b>RESERVAS</b></ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-label routerLink="/bares">Bar</ion-label>     
    <ion-input required placeholder="N° Personas"></ion-input>
    <ion-item>
        <ion-label>Motivo</ion-label>
        <ion-select required interface="popover">
          <ion-select-option value="nes">Despedida de soltera</ion-select-option>
          <ion-select-option value="nes">Despedida de soltero</ion-select-option>
          <ion-select-option value="n64">Dia del hombre</ion-select-option>
          <ion-select-option value="nes">Dia de la mujer</ion-select-option>
          <ion-select-option value="n64">Año nuevo</ion-select-option>
          <ion-select-option value="n64">Cumpleaños</ion-select-option>
          <ion-select-option value="n64">Amor y amistad</ion-select-option>
          <ion-select-option value="n64">Halloween</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-input required placeholder="Dedicatoria"></ion-input>
    <ion-label routerLink="/adicionales">Adicionales</ion-label><br><br>
    <ion-label routerLink="/decorado">Decorado</ion-label>		<br>
    <ion-input required placeholder="Mesa"></ion-input>
    <ion-input required placeholder="Nombre del festejado"></ion-input>
        
      <ion-button routerLink="/pago" color=#ff912f><b>Reservar</b></ion-button>
      
  </ion-content>
