<ion-header>
  <ion-toolbar>
    <ion-title><b>RESERVAS</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br><br>
  <div class="reserva">
  <ion-label>RESERVA 1</ion-label><br>
  <ion-label>Nombre persona que reserva</ion-label><br><br>
  <ion-label>cedula</ion-label><br><br>
  <ion-label>Direccion</ion-label><br><br>
  <ion-label>email</ion-label><br><br>
  <ion-label>Bar</ion-label><br><br>
  <ion-label>N° Personas</ion-label><br><br>
  <ion-label>Motivo</ion-label><br><br>
  <ion-label>Dedicatoria</ion-label><br><br>
  <ion-label>Adicionales</ion-label><br><br>
  <ion-label>Decorado</ion-label><br><br>
  <ion-label>Mesa</ion-label><br><br>
  <ion-label>Nombre del festejado</ion-label><br><br>
  <ion-label>Precio</ion-label>
</div>
  <br><br>
  <div class="reserva">
  <ion-label>RESERVA 2</ion-label><br>
  <ion-label>Nombre persona que reserva</ion-label><br><br>
  <ion-label>cedula</ion-label><br><br>
  <ion-label>Direccion</ion-label><br><br>
  <ion-label>email</ion-label><br><br>
  <ion-label>Bar</ion-label><br><br>
  <ion-label>N° Personas</ion-label><br><br>
  <ion-label>Motivo</ion-label><br><br>
  <ion-label>Dedicatoria</ion-label><br><br>
  <ion-label>Adicionales</ion-label><br><br>
  <ion-label>Decorado</ion-label><br><br>
  <ion-label>Mesa</ion-label><br><br>
  <ion-label>Nombre del festejado</ion-label><br><br>
  <ion-label>Precio</ion-label>
</div>
  <br><br>
  <br><br><br>


</ion-content>